@use "../sass/utilities/functions" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*::selection {
		background-color: #29a173;
		color: white;
	}

	textarea {
		resize: none;
	}

	body {
		min-height: 100vh;
		scroll-behavior: smooth;

		&::-webkit-scrollbar-track-piece,
		&::-webkit-scrollbar {
			background-color: #050d0a;
			width: 14px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #a3a3a3;
			&:hover {
				background-color: #29a173;
			}
		}
	}

	img {
		user-select: none;
		pointer-events: none;
		-webkit-user-select: none;
	}

	.no-select {
		user-select: none;
		-webkit-user-select: none;
	}

	p {
		font-size: rem(16);
		font-weight: 400;
		line-height: 1.5;
	}

	h1,
	h2,
	h3,
	h4 {
		line-height: 1.4;
		font-weight: 700;
		margin-bottom: 1.2rem;
	}

	section {
		padding-block: 5rem;
	}
}

@layer components {
	.button {
		padding-inline: rem(15);
		padding-block: rem(10);
		border-radius: rem(8);
		font-size: rem(16);
	}
}

@layer utilities {
	.dashboardbg {
		background-image: url("../public/dashboard-background.svg");
		background-position: center;
		background-size: cover;
		height: 100%;
	}

	.my-max {
		width: min(100% - 20px, 1200px);
		margin-inline: auto;
	}

	.green-blob {
		background-color: #2aa274;
		border-radius: 50%;
		position: absolute;
		transform: translateX(-50%);
		filter: blur(200px);
	}
	.yellow-blob {
		background-color: #c18e3b;
		border-radius: 50%;
		position: absolute;
		transform: translateX(-50%);
		filter: blur(200px);
	}
	.my-shadow {
		box-shadow: -7px 1px 20px -9px #29a173, 1px -1px 20px -7px #c18e3b;
	}

	.gradient {
		background: linear-gradient(to top, #29a173, #c18e3b);
	}

	.gradient2 {
		background: linear-gradient(to left, #050d0a, #a3a3a3, #050d0a);
	}
	.gradient3 {
		background: linear-gradient(to right, #a3a3a3, #050d0a);
	}
	.gradient4 {
		background: linear-gradient(to right, #050d0a, #a3a3a3);
	}

	.gradient-upgrade {
		background: linear-gradient(40deg, #2e2e48, #005031);
		transition: background 0.2s ease-in-out;
		&:hover {
			background: linear-gradient(80deg, #2e2e48, #005031);
		}
	}

	.scrollbar-hidden {
		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.icon .MuiSvgIcon-root {
	color: white;
	@media (min-width: 768px) {
		color: #c18e3b;
	}
}

.unique,
.card {
	transition: all 0.3s ease;
	ul li {
		color: #050d0a;
	}
	h3 {
		color: #050d0a;
	}
	.button:hover {
		background: #005031;
	}
	.verify {
		color: white;
	}
	&:hover {
		background-color: #005031;
		.verify {
			color: #fff;
		}
		h2 {
			color: #fff;
		}
		ul li,
		h3 {
			color: #ffff;
		}

		ul li .check {
			color: #c18e3b;
		}

		.line {
			border-color: #fff;
		}

		.button {
			background-color: #fff;
			color: #29a173;
			&:hover {
				background-color: #c18e3b;
				color: white;
			}
		}
	}
}

.unique {
	background-color: #005031;

	.verify {
		display: none;
	}

	h2 {
		color: #fff;
	}
	ul li,
	h3 {
		color: #ffff;
	}

	ul li .check {
		color: #c18e3b;
	}

	.line {
		border-color: #fff;
	}

	.button {
		background-color: #fff;
		color: #29a173;
		&:hover {
			background-color: #c18e3b;
			color: white;
		}
	}

	&:hover {
		background-color: #123829;
		.verify {
			display: block;
		}
	}
}

.card {
	background-color: #fff;
	&:hover {
		.button {
			&:hover {
				background-color: #29a173;
			}
		}
	}
}
