@use "../sass/utilities/functions" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0, 0%, 100%, 0.063;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;
		--popover: 120, 63%, 7%;
		--popover-foreground: 210 40% 98%;
		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 156, 51%, 15%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 39, 77%, 83%;
		--input: 39, 77%, 83%;
		--ring: 212.7 26.8% 83.9;
		--radius: 8px;
	}

	*::selection {
		background-color: #29a173;
		color: #fff;
	}

	textarea {
		resize: none;
	}

	body {
		min-height: 100vh;
		scroll-behavior: smooth;
		overflow-y: auto;

		&::-webkit-scrollbar-track-piece,
		&::-webkit-scrollbar {
			background-color: #050d0a;
			width: rem(14);
		}

		&::-webkit-scrollbar-thumb {
			background-color: #a3a3a3;
			&:hover {
				background-color: #29a173;
			}
		}
	}

	.custom-scroll,
	.custom-scroll2 {
		&::-webkit-scrollbar-track-piece,
		&::-webkit-scrollbar {
			background-color: #050d0a;
			width: 3px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #a3a3a3;
		}
	}
	.custom-scroll2 {
		&::-webkit-scrollbar-track-piece,
		&::-webkit-scrollbar {
			background-color: #123829;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #2aa274;
		}
	}

	img {
		user-select: none;
		pointer-events: none;
		-webkit-user-select: none;
	}

	.no-select {
		user-select: none;
		-webkit-user-select: none;
	}

	p {
		font-size: rem(16);
		font-weight: 400;
		line-height: 1.5;
	}

	h1,
	h2,
	h3,
	h4 {
		line-height: 1.4;
		font-weight: 700;
		margin-bottom: 1.2rem;
	}

	section {
		padding-block: 5rem;
	}

	.loader {
		width: rem(11);
		height: rem(11);
		border: 2px solid #f3f3f3;
		border-top: 2px solid #c18e3b;
		border-radius: 50%;
		animation: spin 0.3s linear infinite;
	}

	.outmessage {
		background: linear-gradient(45deg, #2aa27438, #c18e3b50);
	}
	.inMessage {
		background-color: #2aa27438;
	}

	.silver-text {
		background: radial-gradient(
			70.71% 70.71% at 50% 50%,
			#fff 30%,
			rgba(255, 255, 255, 0.5) 84.77%
		);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

@layer components {
	.button {
		padding-inline: rem(15);
		padding-block: rem(10);
		border-radius: rem(8);
		font-size: rem(16);
	}

	.button2 {
		padding-inline: rem(15);
		padding-block: rem(10);
		font-size: rem(16);
		box-shadow: 0px 0px 10px 0px #2aa274;
		background-color: transparent;
		color: #a3a3a3;

		&:hover {
			box-shadow: none;
			background-color: #2aa274;
			box-shadow: 0px 0px 10px 0px #2aa274;
			color: white;
		}
	}
}

@layer utilities {
	.dashboardbg {
		background-image: url("../public/dashboard-background.svg");
		background-position: center;
		background-size: cover;
		height: 100%;
	}

	.my-max {
		width: min(100% - 20px, 1200px);
		margin-inline: auto;
	}

	.green-blob,
	.green-blob2,
	.green-blob2 {
		background-color: #2aa274;
		border-radius: 50%;
		position: absolute;
		transform: translateX(-50%);
		filter: blur(rem(150));
	}

	.green-blob2 {
		filter: blur(rem(160));
	}

	.yellow-blob,
	.yellow-blob2,
	.yellow-blob3 {
		background-color: #c18e3b;
		border-radius: 50%;
		position: absolute;
		transform: translateX(-50%);
		filter: blur(rem(150));
	}

	.yellow-blob2 {
		filter: blur(rem(140));
	}
	.yellow-blob3 {
		filter: blur(rem(190));
	}
	.my-shadow {
		box-shadow: -7px 1px 20px -9px #29a173, 1px -1px 20px -7px #c18e3b;
	}

	.gradient {
		background: linear-gradient(to top, #29a173, #c18e3b);
	}

	.gradient2 {
		background: linear-gradient(to left, #050d0a, #a3a3a3, #050d0a);
	}
	.gradient3 {
		background: linear-gradient(to right, #a3a3a3, #050d0a);
	}
	.gradient4 {
		background: linear-gradient(to right, #050d0a, #a3a3a3);
	}

	.gradient-upgrade {
		background: linear-gradient(40deg, #2e2e48, #005031);
		transition: background 0.2s ease-in-out;
		&:hover {
			background: linear-gradient(80deg, #2e2e48, #005031);
		}
	}

	.scrollbar-hidden {
		&::-webkit-scrollbar {
			display: none;
		}
	}

	.icon .MuiSvgIcon-root {
		color: white;
		@media (min-width: em(768)) {
			color: #c18e3b;
		}
	}

	.unique,
	.card {
		transition: all 0.3s ease;
		ul li {
			color: #050d0a;
		}
		h3 {
			color: #050d0a;
		}
		.button:hover {
			background: #005031;
		}
		.verify {
			color: white;
		}
		&:hover {
			background-color: #005031;
			.verify {
				color: #fff;
			}
			h2 {
				color: #fff;
			}
			ul li,
			h3 {
				color: #ffff;
			}

			ul li .check {
				color: #c18e3b;
			}

			.line {
				border-color: #fff;
			}

			.button {
				background-color: #fff;
				color: #29a173;
				&:hover {
					background-color: #c18e3b;
					color: white;
				}
			}
		}
	}

	.unique {
		background-color: #123829;

		h2 {
			color: #fff;
		}
		ul li,
		h3 {
			color: #ffff;
		}

		ul li .check {
			color: #c18e3b;
		}

		.line {
			border-color: #fff;
		}

		.button {
			background-color: #fff;
			color: #29a173;
			&:hover {
				background-color: #c18e3b;
				color: white;
			}
		}

		&:hover {
			background-color: #005031;
		}
	}

	.card {
		background-color: #fff;
		&:hover {
			.button {
				&:hover {
					background-color: #29a173;
				}
			}
			p {
				color: #c18e3b;
			}
		}
	}
}

.not-reconcilable-row {
	background-color: crimson !important;
}

// ai
.ai-spin {
	animation: spin 1.2s linear infinite;
}

.glow {
	&::before,
	&::after {
		background: linear-gradient(
			45deg,
			#a3a3a3,
			#4ef3b4,
			#174634,
			#fff,
			#050d0a,
			#ffb847,
			#444c48
		);
	}
}
.glow2 {
	&::before,
	&::after {
		background: linear-gradient(
			45deg,
			#fff,
			#050d0a,
			#ffb847,
			#444c48,
			#a3a3a3,
			#4ef3b4,
			#174634
		);
	}
}
.glow3 {
	&::before,
	&::after {
		background: linear-gradient(
			45deg,
			#fff,
			#050d0a,
			#ffb847,
			#444c48,
			#a3a3a3,
			#4ef3b4,
			#174634
		);
	}
}
.glow4 {
	&::before,
	&::after {
		background: linear-gradient(
			45deg,
			#fff,
			#050d0a,
			#ffb847,
			#444c48,
			#a3a3a3,
			#4ef3b4,
			#174634
		);
	}
}

.glow,
.glow2,
.glow3,
.glow4 {
	&::before,
	&::after {
		content: "";
		position: absolute;
		left: -1px;
		top: -1px;
		background-size: 400%;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		z-index: -1;
		animation: glow 12s linear infinite;
	}

	&::before {
		filter: blur(20px);
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
	}

	&:hover::before {
		opacity: 100;
	}
}

.glow2 {
	&::before,
	&::after {
		animation: glow 8s linear infinite;
	}
}
.glow3 {
	&::before,
	&::after {
		animation-play-state: paused;
	}
}
.glow4 {
	&::before,
	&::after {
		top: -1px;
		left: -1px;

		background-size: 400%;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		animation: glow 10s linear infinite;
	}

	&:hover::before {
		opacity: 0;
	}

	&:disabled {
		&::before,
		&::after {
			animation: none;
			background-size: auto;
			background: none;
		}
	}
}

@keyframes glow {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 400% 0;
	}
}

// end of ai

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-disabled:not(
		.Mui-selected
	) {
	color: rgba(0, 0, 0, 0.38) !important;
}

// dragNdrop
.filepond--credits {
	display: none !important;
}
// /* use a hand cursor intead of arrow for the action buttons */
.filepond--file-action-button {
	cursor: pointer !important;
}

// /* the text color of the drop label*/
.filepond--drop-label {
	color: #fff !important;
	font-size: rem(20) !important;
}
// /* the background color of the filepond drop area */
.filepond--panel-root {
	background-color: #202025 !important;
}

// /* the background color of the drop circle */
.filepond--drip-blob {
	background-color: #2aa274b9 !important;
}

initial .filepond--item-panel {
	background-color: rgb(19, 19, 24) !important ;
}

error [data-filepond-item-state*="error"] .filepond--item-panel,
[data-filepond-item-state*="invalid"] .filepond--item-pane {
	background-color: crimson !important;
	// #c44e47
}

// successfull
[data-filepond-item-state="processing-complete"] .filepond--item-panel {
	background-color: green !important;
}

.css-128fb87-MuiDataGrid-toolbarContainer {
	padding: rem(10);
	@media (min-width: em(700)) {
		padding: 16px 20px !important;
	}
}
